/* .logoimg{
    width:11%;
} */
.dropdown{
    background-color: #F5F5F5;
}
.navbar{
    background-color: #FFFFFF;
}
.stylish-navbar {
    width: 90%;
    margin: 20px auto;
    background: linear-gradient(90deg, #4e75c8, #8fb1fb);
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  /* .stylish-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  } */
  
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logout-button {
    display: inline-block;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
    color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  .logout-button:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
  .fixed-img {
    width: 70px;  
    height: 70px; 
    border-radius: 50%; 
    object-fit: cover;
}