<form [formGroup]="shiftForm" (ngSubmit)="handleForm()">

  <!-- المدفوعات عبر الإنترنت -->
  <div formArrayName="online_payments" class="mt-4">
    <div *ngFor="let payment of onlinePayments.controls; let i = index" [formGroupName]="i" class="payment-card mb-3">
      <div class="row align-items-center">
        <!-- حقل نوع المنتج -->
        <div class="col-md-3">
            <label for="product_id">نوع المنتج</label>
            <select class="form-control" formControlName="product_id" (change)="onProductChange(payment.get('product_id')?.value, i)">
              <option value="" disabled>اختر المنتج</option>
              <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
            </select>
          </div>
    
          <!-- حقل نوع الطرمبة -->
          <div class="col-md-3">
            <label for="machine_id">نوع الطرمبة</label>
            <select class="form-control"  (change)="onMachineChange( i ,payment.get('machine_id')?.value)" formControlName="machine_id">
              <option value="" disabled>اختر الطرمبة</option>
              <option *ngFor="let machine of payment.get('machines')?.value" [value]="machine.id">{{ machine.machine_number }}</option>
            </select>
          </div>

        <!-- حقل عداد الافتتاح -->
       

        <!-- حقل صوره الاغلاق -->
      

        <!-- حقل عداد الاغلاق -->
        <div class="col-md-3">
          <label for="close_amount">عداد الاغلاق</label>
          <input formControlName="close_amount" type="number" class="form-control" />
        </div>

        <div class="col-md-3">
          <label for="image">صوره الاغلاق</label>
          <input type="file" class="form-control" (change)="onFileSelected($event, 'online_payment', i)" />
        </div>

        <!-- حقل الكمية باللتر -->
        <div class="col-md-3">
          <label for="total_liters">الكمية باللتر</label>
          <input formControlName="total_liters" type="number" class="form-control" readonly />
        </div>
        <div class="col-md-3">
          <label for="start_amount">عداد الافتتاح</label>
          <input formControlName="start_amount" type="number" class="form-control" readonly />
        </div>
        <!-- حقل سعر البيع -->
        <div class="col-md-3">
          <label for="price">سعر البيع</label>
          <input formControlName="price" type="number" class="form-control" readonly />
        </div>

        <!-- حقل الإجمالي بالريال -->
        <div class="col-md-2">
          <label for="total_money">الإجمالي بالريال</label>
          <input formControlName="total_money" type="number" class="form-control" readonly />
        </div>

        <!-- زر إزالة -->
        <div class="col-md-1">
          <button type="button" class="btn btn-danger mt-4" (click)="removeOnlinePayment(i)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>





      </div>
    </div>

    <!-- زر إضافة دفعة عبر الإنترنت -->
    <button type="button" class="btn btn-primary mt-3" (click)="addOnlinePayment(null)">
      <i class="fa-solid fa-plus"></i>  
    </button>
  </div>
<!-- Table to display selected products -->
<table class="table mt-3  custom-table">
    <thead>
      <tr>
        <th>اسم المنتج</th>
        <th>إجمالي اللترات</th>
        <!-- <th>إجمالي المبلغ بالريال</th> -->

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of selectedProducts">
        <td>{{ product.product_name }}</td>
        <td>{{ product.total_liters || 0 }}</td>
        <!-- <td>{{ product.total_liters* product.price || 0 }}</td> -->

      </tr>
    </tbody>
  </table>
  
  
  
  <!-- حقل الصورة عبر الإنترنت -->
  <div class="col-md-4 custom-section">
    <label for="online_image">الموازنة</label>
    <input type="file" class="custom-file-input" id="online_image" (change)="onFileSelect($event)" accept="image/*"   multiple />
  </div>

  <!-- حقل المجموع المدفوع عبر الإنترنت -->
  <div class="col-md-4 custom-card">
    <label for="total_online">المجموع المدفوع عبر الشبكة</label>
    <input formControlName="total_online" type="number" class="form-control" />
    <div *ngIf="totalOnlineLimitExceeded" class="text-danger mt-2">
      لا يمكن أن يكون المبلغ المدفوع عبر الشبكة أكبر من (إجمالي المبلغ - المبلغ المدفوع من العميل).
    </div>
  </div>

  <!-- عرض الإجمالي بالريال -->


  <!-- عرض المجموع النقدي -->
  <div class="mt-3 custom-card ">
    <h5>الاجمالى كاش: {{ totalCash }}</h5>
  </div>
  <div class="mt-3 custom-card ">
    <h5>الاجمالى آجل العملاء: {{ total_client }}</h5>
  </div>



  <div class="custom-card total-amount mt-4">
    <h5>الإجمالي قبل الضريبة: {{ moneyWithoutTax | number:'1.2-2' }}</h5>
  </div>
  <div class="custom-card total-amount mt-4">
    <h5>الإجمالي بالريال: {{ totalAmount | number:'1.2-2' }}</h5>
  </div>

  <!-- زر الحفظ -->
  <button type="submit" class="btn btn-success mt-3" [disabled]="isLoading">
    <i class="fa-solid fa-save"></i> حفظ التغييرات
  </button>
</form>
