
<div class="container" id="invoice-details">
    <div class="table-title">اسم الشركة/...............</div>
    <div class="table-title"> س.ت/...................</div>
    <p class="table-title">إيضاحات قائمة المركز المالي <br>عن السنة المنتهية في ٣١ ديسمبر {{currentYear}}</p>
    <div class="mt-4">
    
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">5</th>
                <th class="w-75"> النقديه وما فى حكمها</th>
                <th class="currency w-50"> {{currentYear}}</th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts1">
            <td></td>
            <td>{{ account.account_name }}</td>
            <td class="currency">{{ account.current_balance }}</td>
          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <td class="currency">{{ totalBalance1 | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="mt-4">
     
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">6</th>
                <th class="w-75">  صافى الممتلكات والأصول الثابتة</th>
                <th class="currency"> {{currentYear}}</th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts5">
            <td></td>
            <td>{{ account.account_name }}</td>
            <td class="currency">{{ account.current_balance }}</td>
          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <td class="currency">{{ totalBalance5 | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

   
    <div class="mt-4">
    
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">7</th>
                <th class="w-75">  صافى الممتلكات والأصول الثابتة</th>
                <th class="currency">{{currentYear}} </th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts7">
            <td></td>
            <td>{{ account.account_name }}</td>
            <td class="currency">{{ account.current_balance }}</td>
          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <td class="currency">{{ totalBalance7 | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

 
   
  </div>
  <div class="mt-4">
    <button (click)="exportToPDF()" class="btn btn-primary">Download as PDF</button>
  </div> 
  
