<div class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow rounded-lg">
          <div class="card-header bg-white text-black rounded-top pt-3">
            <h5>تفاصيل الحساب</h5>
          </div>
          <div class="card-body pb-5">
            <div class="row">
              <!-- تفاصيل الحساب -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">الاسم:</label>
                  <p class="text-muted">{{ AccountData?.account_name || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">الهاتف:</label>
                  <p class="text-muted">{{ AccountData?.phone || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">الرصيد الحالي:</label>
                  <p class="text-muted">{{ AccountData?.current_balance || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">الرصيد الافتتاحى:</label>
                  <p class="text-muted">{{ AccountData?.start_amount || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold"> الصافى دائن:</label>
                  <p class="text-muted">{{ AccountData?.net_credit || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold"> الصافى مدين:</label>
                  <p class="text-muted">{{ AccountData?.net_debit || 'غير متوفر' }}</p>
                </div>
              </div>

              <!-- تفاصيل الحساب الرئيسي -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="fw-bold">اسم الحساب الرئيسي:</label>
                  <p class="text-muted">{{ AccountData?.parent?.account_name || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">رصيد الحساب الرئيسي:</label>
                  <p class="text-muted">{{ AccountData?.parent?.current_balance || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">  الحساب الرئيسى الرصيد الافتتاحى:</label>
                  <p class="text-muted">{{ AccountData?.parent?.start_amount || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">  صافى الحساب الرئيسى دائن:</label>
                  <p class="text-muted">{{ AccountData?.parent?.net_credit || 'غير متوفر' }}</p>
                </div>
                <div class="mb-3">
                  <label class="fw-bold">  صافى الحساب الرئيسى مدين:</label>
                  <p class="text-muted">{{ AccountData?.parent?.net_debit || 'غير متوفر' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 mb-4">
      <a class="nav-link" [routerLink]="['/dashboard/accounting', parentId]">
        <button type="button" class="btn btn-primary px-4">رجوع</button>
      </a>
    </div>

  </div>
</div>
