<div class="container my-5" id="financial-statement">
    <div class="mb-4">
        <h5 class="table-title">اسم المؤسسة</h5>
        <div class="table-title">س.ت/...................</div>
        <p class="table-title">قائمة المركز المالي <br>عن السنة المنتهية في ٣١ ديسمبر ٢٠٢٣</p>
    </div>
    <hr>
    <table class="table text-center">
        <thead class="table-header">
            <tr>
                <th>البيان</th>
                <th class="text-info">الإيضاح</th>
                <th class="amount-column">ريال سعودي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>النقدية وما في حكمها</td>
                <td class="text-info">5</td>
                <td class="amount-column">93,106.43</td>
            </tr>
            <tr>
                <td>المدينون التجاريون</td>
                <td></td>
                <td class="amount-column">32,817.00</td>
            </tr>
            <tr>
                <td>المخزون</td>
                <td></td>
                <td class="amount-column">24,890.00</td>
            </tr>
            <tr class="highlight">
                <td>مجموع الموجودات المتداولة</td>
                <td></td>
                <td class="amount-column">150,813.43</td>
            </tr>
            <tr>
                <td>ممتلكات، آلات، ومعدات، صافي</td>
                <td class="text-info">7</td>
                <td class="amount-column">520,996.87</td>
            </tr>
            <tr class="highlight">
                <td>جميع الموجودات</td>
                <td></td>
                <td class="amount-column">671,810.30</td>
            </tr>
            <tr>
                <td>المطلوبات</td>
                <td></td>
                <td class="amount-column">0.00</td>
            </tr>
            <tr>
                <td>حقوق الشركاء</td>
                <td></td>
                <td class="amount-column">671,810.30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-4 text-center">
    <button onclick="exportToPDF()" class="btn btn-primary">Download as PDF</button>
</div>
