<div class="container" id="invoice-details">
<div class="invoice">
    <div class="logo mb-3">
        <!-- <img [src]=logo alt="logo" class="fixed-img"> -->
        <!-- <img [src]="logo" alt="logo" class="fixed-img" (load)="onImageLoad()" #invoiceImage> -->
        <img src='images/login.jpg' alt="logo" class="fixed-img">
    </div>

    <div class="details">
        <div class="row ">
            <div >العنوان:{{setting?.address}}</div>
            <div>رقم الهاتف:{{setting?.phone}}</div>
            <div>الرقم الضريبي:{{setting?.tax_number}}</div>
            <div >السجل التجاري:{{setting?.tax_name}}</div>
        </div>
        <div class="row">
           
            <div  class="text-center">فاتورة ضريبية</div>
        </div>
        <div class="row">
         
            <div class="col-6 ">
                <div>النوع: {{getType(salesData?.type)}} </div>
                <div >التاريخ:{{salesData?.date}}</div>
            </div>
            <div class="col-6 ">
                <div>الرقم: {{salesData?.number}} </div>
                <div class=" text-end">الوقت:{{currentTime}}</div>
            </div>
        </div>
      
    </div>

    <div class="details">
        <div class="row">
            <div>اسم العميل: {{ salesData?.client_name != "null" ? salesData?.client_name : '' }}</div>
            <div >الرقم الضريبي:{{salesData?.tax_no != "null" ? salesData?.tax_no : ''}}</div>
            <div >السجل التجاري:{{salesData?.tax_name != "null" ? salesData?.tax_name : ''}}</div>
            <div >رقم الهاتف:{{salesData?.phone != "null" ? salesData?.phone : '' }}</div>
            <div>عنوان العميل:{{salesData?.address != "null" ? salesData?.address : '' }}</div>
        </div>
        
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>المنتج</th>
                <th>الكمية</th>
                <th>السعر</th>
                <th>الإجمالي</th>
            </tr>
        </thead>
        <tbody>
           <td>{{salesData?.product?.name}}</td>
           <td>{{salesData?.liters}}</td>
           <td>{{salesData?.product?.price}}</td>
           <td>{{salesData?.amount}}</td>

        </tbody>
    </table>

    <div class="details">
        <div class="row">
            <div class="col-6">إجمالي:  {{salesData?.amount}}</div>
           
        </div>
        <div class="row">
            <div class="col-6">ضريبة {{taxRate}}%: {{salesData?.tax_amount}}</div>
          
        </div>
        <div class="row">
            <div class="col-6">صافي الفاتورة: {{salesData?.amount}}</div>
          
        </div>
        <div class="row">
            <div class="col-6">المدفوع: {{salesData?.type  == 'debit' ? 0 : salesData?.amount}}</div>
          
        </div>
        <div class="row">
            <div class="col-6">الباقي: {{salesData?.type  == 'debit' ? salesData?.amount : 0}}</div>
            
        </div>
    </div>

    <div class="text-center">المبلغ شامل ضريبة القيمة المضافة {{taxRate}}%</div>

   

    <div class="qr">
        <canvas id="invoice-qr"></canvas>
      </div>
</div>
</div>
<div class="mt-4 text-center">
    <button (click)="exportToPDF()" class="btn btn-primary">Download as PDF</button>
  </div> 
  
