<div class="mt-3 mb-3">
    <h5>إدارة الاعدادات</h5>
    <span class="text-muted">لوحة التحكم <i class="fa-solid fa-angle-right"></i> الاعدادات <i class="fa-solid fa-angle-right"></i> تحديث الاعدادات </span>
  </div>
  <div class="mt-4 mb-4">
    <form [formGroup]="machineForm" (ngSubmit)="handleForm()">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card shadow em-card rounded-lg">
              <div class="card-header bg-white text-black rounded-top pt-3">
                <h5>تحديث الاعدادات</h5>
              </div>
              <div class="card-body pb-5">
                <div class="row">
                  
                  <div class="form-group col-md-6">
                    
                      <label for="address" class="form-label">{{ getLableByKey('address')  }}</label>
                    <input
                      id="address"
                      type="text"
                      class="form-control"
                      formControlName="address" 
                      [placeholder]="'أدخل ' + getLableByKey('address')"
                      required
                    />
                    </div>
                    <div class="form-group col-md-6">
                    
                      <label  for="phone"  class="form-label">{{ getLableByKey('phone')  }}</label>
                    <input
                      id="phone"
                      type="text"
                      class="form-control"
                      formControlName="phone" 
                      [placeholder]="'أدخل ' + getLableByKey('phone')"
                      required
                    />
                    </div>
                    <div class="form-group col-md-6">
                    
                      <label for="tax_number"  class="form-label">{{ getLableByKey('tax_number')  }}</label>
                    <input
                      id="tax_number"
                      type="text"
                      class="form-control"
                      formControlName="tax_number" 
                      [placeholder]="'أدخل ' + getLableByKey('tax_number')"
                      required
                    />
                    </div>
                    <div class="form-group col-md-6">
                    
                      <label for="tax_name"  class="form-label">{{ getLableByKey('tax_name')  }}</label>
                    <input
                      id="tax_name"
                      type="text"
                      class="form-control"
                      formControlName="tax_name" 
                      [placeholder]="'أدخل ' + getLableByKey('tax_name')"
                      required
                    />
                    </div>
                    <div class="form-group col-md-6">
                    
                      <label for="invoice_message" class="form-label">{{ getLableByKey('invoice_message')  }}</label>
                    <input
                      id="invoice_message"
                      type="text"
                      class="form-control"
                      formControlName="invoice_message" 
                      [placeholder]="'أدخل ' + getLableByKey('invoice_message')"
                      required
                    />
                    </div>
                    <div class="form-group col-md-6">
                   

                      <label for="logo" class="form-label">{{ getLableByKey('logo')  }}</label>
                    <input
                    (change)="onFileSelected($event)" accept="image/*" 
                      id="logo"
                      type="file"
                      class="form-control"
                      required
                    />
                   
                   
                  </div>
                  <div *ngIf="logo" class="form-group col-md-12 mt-3">
                    
                    <img [src]="logo" alt="Logo" class="centered-logo">
                  </div>
                  
                    
                  </div>


                
              </div>
            </div>
          </div>
          <div *ngIf="msgError && msgError.length > 0" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of msgError">{{ error }}</li>
            </ul>
          </div>
          <div class="mt-4 mb-4 d-flex justify-content-around w-25">
            <button [disabled]="machineForm.invalid" type="submit" class="btn btn-primary px-4">
              <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> حفظ
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  