span {
    font-size: 12px ;
}
label{
    font-size: 14px;
    margin-top:15px;
}
.card-header h5 {
    font-size: 15px;
  
    
  }
  .card-header {
    position: relative;
  }
  .card-header ::after {
    content: '';         
    position: absolute;
    top: 25%;               
    left:0 ;              
    height: 50%;          
    width: 3px;           
    background-color: #145388; 
  }
  .centered-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image rounded */
    border: 2px solid #ccc; /* Add a border with a light gray color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: block; /* Makes it easier to center */
    margin: 0 auto; /* Centers horizontally within the parent div */
    object-fit: cover; /* Ensures the image fits within the circle without distortion */
  }
  