<div class="mt-3 mb-3">
  <h5> إدارة فواتير النفقات </h5>
  <span class="text-muted">اللوحة الرئيسية <i class="fa-solid fa-angle-right"></i> النفقات <i class="fa-solid fa-angle-right"></i> إضافة نفقات </span>
</div>
<div class="mt-4 mb-4">
<form  [formGroup]="expensesForm" (ngSubmit)="handleForm()">
  <div class="container">
      <div class="row">
      
        <div class="col-md-12">
          <div class="card shadow em-card rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3 ">
              <h5>إضافة نفقات</h5>
            </div>
          
            <div class="card-body pb-5">

              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="date" class="form-label">التاريخ</label>
                      <input id="date" formControlName="date" type="date" class="form-control" />
                      <div class="alert alert-danger" *ngIf="expensesForm.get('date')?.errors && expensesForm.get('date')?.touched">
                        <p *ngIf="expensesForm.get('date')?.hasError('required')">التاريخ مطلوب</p>
                      </div>
                    </div>
    
                   
                    <div class="form-group col-md-6">
                      <label for="payementType" class="form-label">نوع الدفع</label>
                      <select id="payementType" formControlName="payementType" class="form-control">
                        <option value="cash">نقدًا</option>
                        <option value="online">دفع إلكتروني</option>
                       
                      </select>
                      <div class="alert alert-danger" *ngIf="expensesForm.get('payementType')?.errors && expensesForm.get('payementType')?.touched">
                        <p *ngIf="expensesForm.get('payementType')?.hasError('required')">نوع الدفع مطلوب</p>
                      </div>
                    </div> 
                    <div class="form-group col-md-6">
                      <label class="form-label">اختار الحساب</label>
                      <select class="form-control" formControlName="account_id">
                        <option value="" disabled>اختار الحساب</option>
                        <option *ngFor="let account of accounts" [value]="account.id">{{ account.account_name }}</option>
                      </select>
                    </div> 
                    <div class="form-group col-md-6" *ngIf="expensesForm.get('payementType')?.value === 'online'">
                      <label for="image" class="form-label">رفع صورة الدفع الإلكتروني</label>
                      <input
                        id="image"
                        type="file"
                        class="form-control"
                        (change)="onFileChange($event)"
                      />
                    </div> 
                  
                    <div class="form-group col-md-6">
                      <label class="form-label">اختار حساب النفقات</label>
                      <select class="form-control" formControlName="expense_id">
                        <option value="" disabled>اختار حساب النفقات</option>
                        <option *ngFor="let expensesAccount of expensesAccounts" [value]="expensesAccount.id">{{ expensesAccount.account_name }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="image" class="form-label">رفع صورة الفاتورة</label>
                      <input
                        id="image"
                        type="file"
                        class="form-control"
                        (change)="onInvoiceFileChange($event)"
                      />
                    </div> 
                  
           
                
                        
              </div>  
              <div class="row">
                 
                    <div class="form-group col-md-6">
                      <label for="total_cash"  class="form-label">إجمالي المبلغ النقدي</label>
                      <input id="total_cash" formControlName="total_cash" type="number" class="form-control" placeholder="يرجى إدخال إجمالي المبلغ النقدي" required/>
                      <div class="alert alert-danger" *ngIf="expensesForm.get('total_cash')?.errors && expensesForm.get('total_cash')?.touched">
                        <p *ngIf="expensesForm.get('total_cash')?.getError('required')">إجمالي المبلغ النقدي مطلوب</p>
                        <p *ngIf="expensesForm.get('total_cash')?.getError('min')">الحد الأدنى هو 0</p>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">نسبة الضريبة</label>
                      <p>{{ taxRate  }} %</p>
                    </div>
                    
                    <div class="form-group col-md-6">
                      <label class="form-label">مبلغ الضريبة</label>
                      <p>{{ taxAmount | number: '1.2-2' }} </p> 
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">إجمالي بعد الضريبة</label>
                      <p>{{ totalAfterTax | number: '1.2-2' }} </p> 
                    </div>
              </div>
             
              <div class="form-group col-md-12">
                  <label for="note" class="form-label">ملاحظة</label>
                  <textarea id="note" formControlName="note" rows="4" class="form-control" placeholder="أدخل أي ملاحظات أو تفاصيل إضافية"></textarea>
                </div>
                
          </div>
         
          </div>
        </div>
        <div *ngIf="msgError && msgError.length > 0" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of msgError">{{ error }}</li>
          </ul>
        </div>
        <div class=" mt-4 mb-4">
          <button [disabled]="expensesForm.invalid" type="submit" class="btn btn-primary px-4"><i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> حفظ</button>
       </div>
    
      </div>
    
  
     
    </div>
  </form>

</div>
