<form [formGroup]="shiftForm" (ngSubmit)="handleForm()">
  
  <!-- المدفوعات عبر الإنترنت -->
  <div formArrayName="online_payments" class="mt-4">
    <div *ngFor="let payment of onlinePayments.controls; let i = index" [formGroupName]="i" class="mb-3">
      <div class="row">
        <!-- حقل مبلغ الدفع -->
        <div class="col-md-4">
          <label for="amount"> عدد اللترات </label>
          <input
            formControlName="amount"
            type="number"
            class="form-control"
            (input)="calculatePaymentTotal(i)"
          />
          <small class="text-muted"> المبلغ المطلوب: {{ paymentResults[i] }} </small>
        </div>

        <!-- اسم العميل -->
        <div class="col-md-4">
          <label for="client_name">اسم العميل</label>
          <input formControlName="client_name" type="text" class="form-control" />
        </div>

        <!-- تحميل الصورة -->
        <div class="col-md-4">
          <label for="image">صورة دفع بالشبكة</label>
          <input type="file" class="form-control" (change)="onFileSelected($event, 'online_payment', i)" />
        </div>

        <!-- زر إزالة -->
        <div class="col-md-12">
          <button type="button" class="btn btn-danger mt-2" (click)="removeOnlinePayment(i)">
            <i class="fa-solid fa-trash"></i> إزالة الدفع
          </button>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary mt-3" (click)="addOnlinePayment()">
      <i class="fa-solid fa-plus"></i>  اضافة دفع بالشبكة
    </button>
  </div>

  <!-- المبلغ الإجمالي المدفوع عبر الإنترنت -->
  <div class="form-group col-md-12 mt-4">
    <label for="totalOnlinePayment">إجمالي مبلغ الدفع عبر الشبكة:  <small>{{totalOnlinePayment}}</small></label>
  </div>

  <br>
  <hr>
  <br>
    <div formArrayName="client_counters" class="mt-4">
    <div *ngFor="let counter of clientCounters.controls; let i = index" [formGroupName]="i" class="mb-3">
      <div class="row">
        <div class="col-md-4">
          <label for="amount"> عدد اللترات</label>
          <input
            formControlName="amount"
            type="number"
            class="form-control"
            (input)="calculateCounterTotal(i)"
          />
          <small class="text-muted">  المبلغ المطلوب: {{ clientsResult[i] }} </small>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">اختر حساب العميل </label>
          <select class="form-control"   formControlName="account_id">
            <option value="" disabled>اختر الحساب</option>
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.account_name }}</option>
          </select>
        </div>
        <!-- [(ngModel)]="counter.account_id" -->
        <div class="col-md-4">
          <label for="image">صورة العداد</label>
          <input type="file" class="form-control" (change)="onFileSelected($event, 'client_counter', i)" />
        </div>

        <div class="col-md-12">
          <button type="button" class="btn btn-danger mt-2" (click)="removeClientCounter(i)">
            <i class="fa-solid fa-trash"></i> إزالة دفع العميل
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="addClientCounter()">
      <i class="fa-solid fa-plus"></i> إضافة دفع عميل بالآجل
    </button>
  </div>

  <div class="form-group col-md-12 mt-4">
    <label for="total_client_deposit">إجمالي دين العميل : <small>{{total_client_deposit}}</small></label>
  </div>
  <br>
  <hr>
  <br>
  <div class="form-group col-md-12 mt-4">
    <label for="amountTotal">المبلغ الإجمالي : <small>{{amountTotal}}</small></label>
  </div>

  <button type="submit" class="btn btn-success mt-3" [disabled]="isLoading">
    <i class="fa-solid fa-save"></i> حفظ التغييرات
  </button>
</form>
