<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
      <h5>إدارة الورديات</h5>
      <span class="text-muted">لوحة التحكم <i class="fa-solid fa-angle-right"></i> الورديات</span>
  </div>
  <!-- <a class="nav-link" routerLink="/dashboard/addShift">
    <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a> -->
</div>
<div class="d-flex justify-content-around align-items-center w-50">
  <button *ngIf="userRole !== 'accountant'" class="btn bg-warning rounded btn1" (click)="loadShifts('open')">الوردية المفتوحة</button>
  <button *ngIf="userRole !== 'accountant'" class="btn bg-primary rounded btn1" (click)="loadShifts('closed')">الوردية المغلقة</button>
  <button *ngIf="userRole !== 'worker'" class="btn bg-secondary rounded btn1" (click)="loadShifts('approved')">الوردية المعتمدة</button>
  
 
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="fw-bold">قائمة الورديات</span>
          <!-- <input class="form-control search w-25" type="search" placeholder="بحث..." aria-label="بحث"> -->
          <input 
          class="form-control search w-25" 
          type="search" 
          placeholder="بحث..." 
          aria-label="بحث"
          [(ngModel)]="searchQuery"
          (input)="onSearch()"  
        />
        </div>
  </div>
  <div class="table-responsive">
  <table class="table mt-3">
      <thead>
          <tr>
            
              <th class="bg-light" scope="col">#</th>
              <th class="bg-light" scope="col">العامل</th>
              <th class="bg-light" scope="col"> الوردية</th>
              <th class="bg-light" scope="col">اجمالى المبلغ المحصل</th>
              <th class="bg-light" scope="col">التاريخ</th>
              <th class="bg-light" scope="col">الإجراءات</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let shift of filteredShifts; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ shift.worker?.name }}</td>
              <td>{{ shift.shift}}</td>

              <!-- <td>{{ shift.opening_image }}</td> -->
              <td>{{ shift.total_shift_money}}</td>
              <td>{{ shift.date}}</td>

                <td >
                  <div class="d-flex justify-content-around align-items-center">
                  <a class="nav-link" [routerLink]="['/dashboard/show-supervisor-shift', shift.id]">
                    <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                  </a>
                  <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteShift(shift.id)"></i> 
                  <!-- <a *ngIf="currentStatus !== 'closed' && currentStatus !== 'approved' " class="nav-link" [routerLink]="['/dashboard/closeShift', shift.id]">
                  <i class="fa-solid fa-lock btn1 bg-warning rounded"   ></i>
                   </a> -->
                   <!-- <i *ngIf="currentStatus !== 'open'&& currentStatus !== 'approved' && userRole !== 'worker'"  class="fa-regular fa-clock btn1 bg-warning rounded"  (click)="changeStatus(shift.id)"></i>
                  <a class="nav-link" [routerLink]="['/dashboard/updateShift', shift.id]">
                    <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                  </a> -->
               
                  <!-- -->
                 </div>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
