<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>Manage Shifts</h5>
        <span class="text-muted">Dashboard <i class="fa-solid fa-angle-right"></i> Shifts</span>
    </div>
    <a class="nav-link" routerLink="/dashboard/addShift">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
  </div>
 
  <div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">Shifts List</span>
            <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search">
        </div>
    </div>
  
    <table class="table mt-3">
        <thead>
            <tr>
              
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">User</th>
                <th class="bg-light" scope="col">Opening Image</th>
                <th class="bg-light" scope="col">Opening Amount</th>
                <th class="bg-light" scope="col">Shift</th>
                <th class="bg-light" scope="col">Machine</th>
                <th class="bg-light" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shift of shifts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ shift.user?.name }}</td>
                <td>
                    <img 
                      [src]="shift.opening_image ? shift.opening_image : 'images/default.jpg'" 
                      alt="{{ shift.name_ar || 'Default image' }}" 
                      width="50" 
                      height="50" 
                    />
                  </td>
                <!-- <td>{{ shift.opening_image }}</td> -->
                <td>{{ shift.opening_amount }}</td>
                <td>{{ shift.shift }}</td>
                <td>{{ shift.machine?.machine_number}}</td>
               
                  <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <a class="nav-link" [routerLink]="['/dashboard/showShift', shift.id]">
                      <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                    </a>
                    <a  class="nav-link" [routerLink]="['/dashboard/closeShift', shift.id]">
                    <i class="fa-regular fa-clock btn1 bg-warning rounded"   ></i>
                     </a>
                    <a class="nav-link" [routerLink]="['/dashboard/updateShift', shift.id]">
                      <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                    </a>
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteShift(shift.id)"></i>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>