<div class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow rounded-lg" id="invoice-details">
                    <div class="card-header bg-white text-black rounded-top pt-3">
                        <h5>تفاصيل الفاتورة</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Sales Info -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <strong>اسم العميل:</strong>
                                    <p>{{ salesData?.client_name }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>التاريخ:</strong>
                                    <p>{{ salesData?.date }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>رقم الفاتورة:</strong>
                                    <p>{{ salesData?.number }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>رقم الهاتف:</strong>
                                    <p>{{ salesData?.phone }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong> السجل التجارى:</strong>
                                    <p>{{ salesData?.tax_name }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>العنوان:</strong>
                                    <p>{{ salesData?.address }}</p>
                                </div>
                            </div>

                            <!-- Financial Info -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <strong>المبلغ الإجمالي:</strong>
                                    <p>{{ salesData?.amount }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>الضريبة:</strong>
                                    <p>{{ salesData?.tax_amount }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>نوع الدفع:</strong>
                                    <p>{{ getPaymentType(salesData?.type) }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong> الرقم الضريبى:</strong>
                                    <p>{{ salesData?.tax_no }}</p>
                                </div>
                               
                                <div class="mb-3">
                                    <strong>نسبة الضريبة المضافة:</strong>
                                    <p>{{ salesData?.tax_rate }}%</p>
                                </div>
                            </div>
                        </div>

                        <!-- Shift Info -->
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <h6>معلومات الورديه:</h6>
                                <div class="mb-3">
                                    <strong>الورديه:</strong>
                                    <p>{{ salesData?.main_shift?.shift }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>مجموع المال (كاش):</strong>
                                    <p>{{ salesData?.main_shift?.total_money_cash }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>مجموع المال (آجل عملاء):</strong>
                                    <p>{{ salesData?.main_shift?.total_money_client }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>مجموع المال (عبر الشبكة):</strong>
                                    <p>{{ salesData?.main_shift?.total_money_online  }}</p>
                                </div>
                                <div class="mb-3">
                                    <strong>مجموع المال (الوردة):</strong>
                                    <p>{{ salesData?.main_shift?.total_shift_money  }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                  
                </div>
            </div>
        </div>
        <div class="mt-4 mb-4 text-center">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/salesInvoices">
                <button type="button" class="btn btn-primary px-4">رجوع</button>
            </a>
        </div>
    </div>
</div>
