<app-header></app-header>
<section id="dashboard">
  <div class="container-fluid">
    <div class="row">

      <!-- Sidebar Toggle Button for Mobile -->
      <!-- <button class="btn btn-white d-md-none mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
        aria-expanded="false" aria-controls="sidebarMenu">
        <i class="fa-solid fa-bars"></i>
      </button> -->
      <button class="btn btn-white d-md-none mb-2" type="button" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </button>

      <!-- Sidebar -->
      <div class="col-md-2 " [ngClass]="{'collapse': !isSidebarOpen, 'd-md-block': true}" id="sidebarMenu">
        <ul class="nav flex-column sidebar">

          <li class="nav-item" *ngIf="userRole === 'admin'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('HRM')">
                <i class="fa-regular fa-user"></i>
                <span> إدارة الموارد البشرية</span>
                <i [ngClass]="isDropdownOpen('HRM') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('HRM')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="users">المستخدمون</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" *ngIf="userRole === 'admin'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('products')">
                <i class="fa-solid fa-cash-register"></i>
                <span>المنتجات</span>
                <i [ngClass]="isDropdownOpen('products') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('products')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="products">المنتجات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="machines">الطرمبات</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" *ngIf="userRole === 'admin'||userRole==='accountant'||userRole==='worker'||userRole==='supervisor'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('Shifts')">
                <i class="fa-solid fa-shuffle"></i>
                <span>الورديات</span>
                <i [ngClass]="isDropdownOpen('Shifts') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('Shifts')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="shifts">جميع الورديات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="showShiftWorker">الورديات الخاصة بالعامل</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" *ngIf="userRole === 'admin'||userRole==='accountant'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('Paymnet')">
                <i class="fa-solid fa-file-invoice"></i>
                <span>سند قبض/دفع</span>
                <i [ngClass]="isDropdownOpen('Paymnet') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('Paymnet')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="paymentDocument/receipt">سند قبض</a>
                <a class="nav-link" routerLinkActive="active" routerLink="paymentDocument/payment">سند دفع</a>
              </li>
            </ul>
          </li>
          <!-- Accounting Nav Item -->
          <li class="nav-item" *ngIf="userRole === 'accountant'||userRole === 'admin'">
            <a class="nav-link" (click)="openModal('accountingModal')">
              <div class="d-flex justify-content-between align-items-center">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>المحاسبة</span>
                <i [ngClass]="isDropdownOpen('accounting') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
          </li>

          <!-- Modal Triggered for Accounting Details -->
          <div class="modal fade" id="accountingModal" tabindex="-1" aria-labelledby="accountingModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg d-flex align-items-center justify-content-center">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center w-100">
                  <h5 class="modal-title" id="accountingModalLabel">المحاسبة</h5>
                  <!-- Added margin-right to button for spacing -->
                  <button type="button" class="btn-close ms-3" aria-label="Close"
                    (click)="closeModal('accountingModal')"></button>
                </div>

                <div class="modal-body">
                  <!-- Nested Accounts -->
                  <ul class="nav flex-column">
                    <ng-container *ngFor="let account of accounts">
                      <li class="nav-item">
                        <div class="d-flex justify-content-between align-items-center"
                          (click)="toggleDropdown(account.id)">
                          <span>{{ account.account_name }}</span>
                          <i [ngClass]="isDropdownOpen(account.id) ? 'fa-angle-down' : 'fa-chevron-left'"
                            class="fa-solid"></i>
                        </div>
                        <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen(account.id)">
                          <ng-container *ngIf="account.children?.length > 0">
                            <ng-container *ngFor="let child of account.children">
                              <ng-template [ngTemplateOutlet]="accountTemplate"
                                [ngTemplateOutletContext]="{ $implicit: child }"></ng-template>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="!account.children?.length">
                            <li class="nav-item">
                              <a class="nav-link" [routerLink]="'accounting/' + account.id">{{ account.account_name
                                }}</a>
                            </li>
                          </ng-container>
                        </ul>
                      </li>
                    </ng-container>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="closeModal('accountingModal')">إغلاق</button>
                </div>
              </div>
            </div>
          </div>


          <!-- Template for Nested Accounts -->
          <ng-template #accountTemplate let-account>
            <li class="nav-item nested">
              <div class="d-flex justify-content-between align-items-center"
                (click)="toggleDropdown('account_{{account.id}}')">
                <span>*{{ account.account_name }}</span>
                <i [ngClass]="isDropdownOpen('account_{{account.id}}') ? 'fa-angle-down' : 'fa-chevron-left'"
                  class="fa-solid"></i>
              </div>
              <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('account_{{account.id}}')">
                <ng-container *ngIf="account.children?.length > 0">
                  <ng-container *ngFor="let child of account.children">
                    <ng-template [ngTemplateOutlet]="accountTemplate"
                      [ngTemplateOutletContext]="{ $implicit: child }"></ng-template>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!account.children?.length">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'accounting/' + account.id">{{ account.account_name }}</a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-template>


          <!-- <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('accounting')">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>المحاسبة</span>
                <i [ngClass]="isDropdownOpen('accounting') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('accounting')">
              <ng-container *ngFor="let account of accounts">
                <ng-template [ngTemplateOutlet]="accountTemplate" [ngTemplateOutletContext]="{ $implicit: account }"></ng-template>
              </ng-container>
            </ul>
          </li> -->



          <li class="nav-item" *ngIf="userRole === 'admin'||userRole==='accountant'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('invoices')">
                <i class="fa-solid fa-file-invoice"></i>
                <span>الفواتير</span>
                <i [ngClass]="isDropdownOpen('invoices') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('invoices')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="purchaseInvoices">المشتريات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="expensesInvoices">المصاريف</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="salesInvoices">المبيعات</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="userRole === 'admin'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('equation')">
                <i class="fa-solid fa-equals"></i>
                <span>المعادلات</span>
                <i [ngClass]="isDropdownOpen('equation') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('equation')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="equations">المعادلات</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" *ngIf="userRole === 'admin'||userRole==='accountant'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('reports')">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>القوائم الماليه</span>
                <i [ngClass]="isDropdownOpen('reports') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('reports')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="report1">إيضاحات قائمة الدخل العام</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="report2">قائمة الدخل العام</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="report3">إيضاحات قائمة المركز المالي</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="report4">قائمة المركز المالي</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="report5">  تقرير السنة</a>
              </li>
              <!-- <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active">المبيعات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active">المشتريات</a>
              </li>
              <li class="nav-item nested" *ngFor="let account of accounts">
                <a class="nav-link" routerLinkActive="active" routerLink="accounting/{{account.id}}">{{account.account_name}}</a>
              </li> -->
            </ul>
          </li>

          <li class="nav-item" *ngIf="userRole === 'admin'">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('updateSettings')">
                <i class="fa-solid fa-shuffle"></i>
                <span>اعدادات النظام</span>
                <i [ngClass]="isDropdownOpen('updateSettings') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('updateSettings')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="updateSettings">الاعدادات</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <!-- Profile Content -->
      <div class="col-md-10 profile-content vh-100">
        <div class="container mycontainer">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>