<app-header></app-header>
<section id="dashboard">
  <div class="container-fluid">
    <div class="row">

      <!-- Sidebar Toggle Button for Mobile -->
      <button 
        class="btn btn-white d-md-none mb-2" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#sidebarMenu" 
        aria-expanded="false" 
        aria-controls="sidebarMenu">
        <i class="fa-solid fa-bars"></i> 
      </button>

      <!-- Sidebar -->
      <div class="col-md-2 collapse d-md-block" id="sidebarMenu">
        <ul class="nav flex-column sidebar">

          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('HRM')">
                <i class="fa-regular fa-user"></i>
                <span> إدارة الموارد البشرية</span>
                <i [ngClass]="isDropdownOpen('HRM') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('HRM')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="users">المستخدمون</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('products')">
                <i class="fa-solid fa-cash-register"></i>
                <span>المنتجات</span>
                <i [ngClass]="isDropdownOpen('products') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('products')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="products">المنتجات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="machines">الآلات</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('Shifts')">
                <i class="fa-solid fa-shuffle"></i>
                <span>الورديات</span>
                <i [ngClass]="isDropdownOpen('Shifts') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('Shifts')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="shifts">الورديات</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('Paymnet')">
                <i class="fa-solid fa-file-invoice"></i>
                <span>الدفع</span>
                <i [ngClass]="isDropdownOpen('Paymnet') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('Paymnet')">
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="paymentDocument/receipt">وثيقة الإيصال</a>
                <a class="nav-link" routerLinkActive="active" routerLink="paymentDocument/payment">وثيقة الدفع</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('accounting')">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>المحاسبة</span>
                <i [ngClass]="isDropdownOpen('accounting') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('accounting')">
              <li class="nav-item nested" *ngFor="let account of accounts">
                <a class="nav-link" routerLinkActive="active" routerLink="accounting/{{account.id}}">{{account.account_name}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('invoices')">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Invoices</span>
                <i [ngClass]="isDropdownOpen('invoices') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('invoices')">

              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active"routerLink="purchaseInvoices">Purchases</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active" routerLink="expensesInvoices">Expenses</a>
              </li>
            
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <div class="d-flex justify-content-between align-items-center" (click)="toggleDropdown('reports')">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>تقارير</span>
                <i [ngClass]="isDropdownOpen('reports') ? 'fa-angle-down' : 'fa-chevron-left'" class="fa-solid"></i>
              </div>
            </a>
            <ul class="nav flex-column ms-3" *ngIf="isDropdownOpen('reports')">

              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active">المبيعات</a>
              </li>
              <li class="nav-item nested">
                <a class="nav-link" routerLinkActive="active">المشتريات</a>
              </li>
              <li class="nav-item nested" *ngFor="let account of accounts">
                <a class="nav-link" routerLinkActive="active" routerLink="accounting/{{account.id}}">{{account.account_name}}</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <!-- Profile Content -->
      <div class="col-md-10 profile-content vh-100">
        <div class="container mycontainer">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
