<div class="container my-5" id="invoice-details">
    <div class="mb-4">
      <h5 class="table-title">اسم المؤسسة</h5>
      <div class="table-title">س.ت/...................</div>
      <p class="table-title">قائمة الدخل العام <br>عن السنة المنتهية في ٣١ ديسمبر ٢٠٢٣</p>
    </div>
    <hr>
    <table class="table  ">
      <thead class="table-header">
        <tr>
          <th >البيان</th>
          <th class="text-info text-center">الإيضاح</th>
          <th class="fw-bold text-center">ريال سعودي</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>صافي الإيرادات التشغيلية</td>
          <td></td>
          <td class="text-center">{{id18}}</td>
        </tr>
        <tr>
          <td>تكلفة الإيرادات</td>
          <td class="text-info text-center">1</td>
          <td class="text-center text-danger">{{id19}}</td>
        </tr>
        <tr class="highlight">
          <td class="fw-bold">مجمل الربح من الأنشطة الرئيسية</td>
          <td></td>
          <td class="fw-bold text-center">{{id18And19Sum}}</td>
        </tr>
        <tr>
          <td> التكاليف التشغيلية</td>
          <td class="text-info text-center">2</td>
          <td class="text-center text-danger" >{{id20}}</td>
        </tr>
        <tr>
          <td> مصاريف بيع وتوزيع</td>
          <td class="text-info text-center">3</td>
          <td class="text-center text-danger">{{id21}}</td>
        </tr>
        <tr>
          <td> مخصصات اهلاك الأصول الثابتة </td>
          <td class="text-info text-center">4</td>
          <td class="text-center text-danger" >{{id22}}</td>
        </tr>
        <tr>
          <td>مصاريف اداريه وعمومية  </td>
          <td></td>
          <td class="text-center text-danger">{{id23}}</td>
        </tr>
        <tr class="highlight">
          <td class="fw-bold">  صافى الدخل الشامل من الأنشطة الرئيسية </td>
          <td></td>
          <td class="fw-bold text-center">{{main_activities}}</td>
        </tr>
        <tr>
          <td>إيرادات آخرى </td>
          <td></td>
          <td class="text-center" >{{id24}}</td>
        </tr>
        <tr class="highlight">
          <td class="fw-bold">صافى دخل السنه قبل الزكاه الشرعية</td>
          <td></td>
          <td class="fw-bold text-center">{{this.net_income}}</td>
        </tr>
        <tr>
          <td> الزكاة التقديرية </td>
          <td></td>
          <td class="text-center" >{{id25}}</td>
        </tr>
        <tr class="highlight">
          <td class="fw-bold"> صافى الدخل الشامل بعد الزكاة    </td>
          <td></td>
          <td class="fw-bold text-center">{{final_net_income}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="mt-4 text-center">
    <button (click)="exportToPDF()" class="btn btn-primary">Download as PDF</button>
  </div>
  