<div class="container mt-5" id="invoice-details">
  <div class="table-responsive">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>الاصل</th>
        <th>القيمة الشرائية</th>
        <th>الإهلاك أول العام</th>
        <th>صافي القيمة الشرائية أول الفترة</th>
        <th>العمر الافتراضي</th>
        <th>نسب الإهلاك</th>
        <th>
          <table class="table table-borderless m-0">
            <tr>
              <th colspan="2">مدة الاستهلاك</th>
            </tr>
            <tr>
              <th>سنة</th>
              <th>يوم</th>
            </tr>
          </table>
        </th>
        <th>قيمة الإهلاك</th>
        <th>صافي القيمة الدفترية</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let group of reportYear">
        <tr>
          <td>{{ group.equation_id.base_id.account_name }}</td>
          <td>{{ group.equation_id.first_price }}</td>
          <td>{{ group.last_price }}</td>
          <td>{{ group.equation_id.first_price }}</td>
          <td>{{ group.equation_id.number_of_periods }}</td>
          <td>{{ (100 / group.equation_id.number_of_periods).toFixed(2) }}%</td>
          <td>
            <table class="table table-borderless m-0">
              <tr>
                <td>1</td>
                <td>365</td>
              </tr>
            </table>
          </td>
          <td>{{ group.amount }}</td>
          <td>{{group.equation_id.first_price-group.amount}}</td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <th>الإجمالي</th>
        <th>{{ totalFirstPrice }}</th>
        <th>{{ totalCurrentPrice }}</th>
        <th>{{ totalNetFirstPrice }}</th>
        <th colspan="3"></th>
        <th>{{ totalDepreciation }}</th>
        <th>{{ totalNetBookValue }}</th>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
<div class="mt-4 text-center">
  <button (click)="exportToPDF()" class="btn btn-primary">Download as PDF</button>
</div>