#invoice-details table.table {
    border-color: #000 !important; 
  }
  
  #invoice-details th, 
  #invoice-details td {
    border: 2px solid #000 !important;
  }
  
  #invoice-details table.table {
    border-color: #000 !important; 
  }
  
  #invoice-details th, 
  #invoice-details td {
    border: 2px solid #000 !important;
  }
  
  #invoice-details .table-borderless td, 
  #invoice-details .table-borderless th {
    border: none !important; 
  }
  
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }
  
  .table {
    min-width: 100%; 
  }
  
 
  @media (max-width: 768px) {
    .table {
      font-size: 12px; 
    }
  }
  