<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>Manage Equations</h5>
        <span class="text-muted"> Dashboard <i class="fa-solid fa-angle-right"></i>  Equations</span>
    </div>
    <a class="nav-link text-white bg-secondary p-2 rounded" routerLink="/dashboard/equationHistory">
        Equation History
        </a>
    <a class="nav-link" routerLink="/dashboard/addEquation">
        <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
  
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">Equations List </span>
            <input class="form-control search w-25" type="search" placeholder="بحث " aria-label="Search" [(ngModel)]="searchQuery" (input)="filteredEquation()">
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">Collection</th>
                <th class="bg-light" scope="col"> Base</th>
                <th class="bg-light" scope="col">First Price</th>
                <th class="bg-light" scope="col">Current price</th>
                <th class="bg-light" scope="col"> Number_of_periods</th>
                <th class="bg-light" scope="col">الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equation of filteredEquations; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ equation.base_id.account_name}}</td>
                <td>{{ equation.collection_id.account_name }}</td>
                <td>{{ equation?.first_price }}</td>
                <td>{{ equation.current_price }}</td>
                <td>{{ equation.number_of_periods }}</td>
                <td>
                    <div class="d-flex justify-content-around align-items-center">
                        <a class="nav-link" [routerLink]="['/dashboard/showEquation', equation.id]">
                            <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                        </a>
                        <a class="nav-link" [routerLink]="['/dashboard/updateEquation', equation.id]">
                            <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                        </a>
                        <a class="nav-link" [routerLink]="['/dashboard/historyOfEquation', equation.id]">
                        <i class="fa-solid fa-clock-rotate-left btn1 bg-warning rounded"></i>
                        </a>
                        <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteEquations(equation.id)"></i>
                        <button class="btn btn-primary" (click)="openModal('historyModal', equation.id)">Equation History</button>
                    </div>
                   
                </td>
             
             
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center w-100">
          <h5 class="modal-title" id="historyModalLabel">Equation History</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('historyModal')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="equationHistory" (ngSubmit)="submitHistoryForm()">
            <div class="form-group col-md-6">
                <label for="year" class="form-label">Year</label>
                <input id="year" formControlName="year" type="number" min="2000" class="form-control" />


                <div class="alert alert-danger" *ngIf="equationHistory.get('year')?.errors && equationHistory.get('year')?.touched">
                    <p *ngIf="equationHistory.get('year')?.hasError('min')">min is 2000</p>
                  </div>
              </div>
              <input type="hidden" [value]="selectedEquationId" />
              <div *ngIf="msgError && msgError.length > 0" class="alert alert-danger">
              
                <ul>
                  <li *ngFor="let error of msgError">{{ error }}</li>
                </ul>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center w-100">
                <h5 class="modal-title" id="historyModalLabel">Equation History</h5>
                <button type="button" class="btn-close  ms-3" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('historyModal')"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="equationHistory" (ngSubmit)="submitHistoryForm()">
                    <div class="form-group col-md-6">
                        <label for="year" class="form-label">Year</label>
                        <input id="year" formControlName="year" type="number" min="2000" class="form-control" />
                        <div class="alert alert-danger" *ngIf="equationHistory.get('year')?.errors && equationHistory.get('year')?.touched">
                            <p *ngIf="equationHistory.get('year')?.hasError('min')">min is 2000</p>
                            <p *ngIf="equationHistory.get('year')?.hasError('max')">max is 2025</p>
                        </div>
                    </div>
                    <input type="hidden" [value]="selectedEquationId" />
                    <div *ngIf="msgError && msgError.length > 0" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of msgError">{{ error }}</li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
