<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>إدارة المحاسبة</h5>
        <span class="text-muted">اللوحة الرئيسية <i class="fa-solid fa-angle-right"></i> المحاسبة</span>
    </div>

    <a *ngIf="accountId && accountId != '7'" class="nav-link" routerLink="/dashboard/addAccount/{{accountId}}">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>

    <a *ngIf="accountId && accountId == '7'" class="nav-link text-white bg-primary p-2 rounded" routerLink="/dashboard/editTaxRate">
      <i class="fa-solid fa-edit"></i> تعديل الضريبة المضافة
    </a>
    
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">قائمة الحسابات</span>
            <input *ngIf="accountId && accountId != '7'" class="form-control search w-25" type="search" placeholder="البحث..." aria-label="Search" [(ngModel)]="searchTerm" (input)="filterAccounts()">
            <span *ngIf="accountId && accountId == '7'" class="fw-bold">الضريبة المضافة: {{taxRate?.rate}} %</span>
        </div>
    </div>
  
    <table class="table mt-3">
        <thead>
            <tr>
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">الاسم</th>
                <th class="bg-light" scope="col">اجمالى مدين</th>
                <th class="bg-light" scope="col">اجمالى دائن</th>
                <th class="bg-light" scope="col">الرصيد الحالى</th>
                <th class="bg-light" scope="col">رصيد اول مدة</th>
                <th class="bg-light" scope="col">طبيعة الحساب</th>
                <th class="bg-light" scope="col"> نوع الحساب </th>

                <th class="bg-light" scope="col">الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of filteredAccounts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ account.account_name }}</td>
                <td>{{ account.net_debit }}</td>
                <td>{{ account.net_credit }}</td>
                <td *ngIf="account.current_balance < 0 ">{{ account.current_balance * -1 }}</td>
                <td *ngIf="account.current_balance >= 0 "> {{ account.current_balance }}</td>
                <td>{{ account.start_amount }}</td>
                <td *ngIf="account.current_balance < 0 "> دائن </td>
                <td *ngIf="account.current_balance >= 0 "> مدين </td>
                <td>{{ getAccountMessage(account.type) }}</td>

                <td>
                    <div class="d-flex justify-content-around align-items-center">
                        <a class="nav-link" [routerLink]="['/dashboard/accounting/', accountId, 'showAccount', account.id]">
                            <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                        </a>
                        <a class="nav-link" *ngIf="userRole!=='accountant'" [routerLink]="['/dashboard/accounting/', accountId, 'updateAccount', account.id]">
                            <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                        </a>
                        <i *ngIf="accountId !== '7'&& userRole!=='accountant'" class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteAccount(account.id)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
