<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>Manage Accounting</h5>
        <span class="text-muted">Dashboard <i class="fa-solid fa-angle-right"></i> Accounting</span>
    </div>
    <a *ngIf="accountId" class="nav-link" routerLink="/dashboard/addAccount/{{accountId}}">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
    </a>
  </div>
 
  <div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fw-bold">Accounts List</span>
            <input class="form-control search w-25" type="search" placeholder="Search..." aria-label="Search">
        </div>
    </div>
  
    <table class="table mt-3">
        <thead>
            <tr>
              
                <th class="bg-light" scope="col">#</th>
                <th class="bg-light" scope="col">name</th>
                <th class="bg-light" scope="col">net debit</th>
                <th class="bg-light" scope="col">net credit</th>
                <th class="bg-light" scope="col">balance</th>
                
                <th class="bg-light" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ account.account_name }}</td>
                <td>{{ account.net_debit }}</td>
                <td>{{ account.net_credit }}</td>
                <td>{{ account.current_balance}}</td>
               
                  <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <!-- <a class="nav-link" [routerLink]="['/dashboard/showShift', account.id]">
                      <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                    </a> -->
                    <!-- <a class="nav-link" [routerLink]="['/dashboard/updateShift', account.id]">
                      <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                    </a> -->
                    <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteAccount(account.id)"></i>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>