<div class="mt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow rounded-lg">
            <div class="card-header bg-white text-black rounded-top pt-3">
              <h5> Equation Details</h5>
            </div>
            <div class="card-body pb-5">
            
            </div>
          </div>
        </div>
      </div>
  
      <div class="mt-4 mb-4">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/equations">
          <button type="button" class="btn btn-primary px-4">رجوع</button>
        </a>
      </div>
    </div>
  </div>
  