
  <div class="card p-4 shadow-sm">
    <h5 class="card-title mb-4 text-center text-primary">تفاصيل الوردية</h5>
    
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <p><strong>رقم الوردية:</strong> {{ shiftData.shift }}</p>
      </div>
      <div class="col-12 col-md-6">
        <p><strong>الحالة:</strong> {{ shiftData.status }}</p>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <p><strong>تاريخ الإنشاء:</strong> {{ shiftData.created_at | date: 'yyyy-MM-dd HH:mm' }}</p>
      </div>
      <div class="col-12 col-md-6">
        <p><strong>تاريخ:</strong> {{ shiftData.date }}</p>
      </div>
    </div>
  
    <!-- Money Details -->
    <div class="card bg-light mb-4">
      <div class="card-body">
        <h6 class="card-title text-primary">تفاصيل الأموال</h6>
        <p><strong>إجمالي الأموال:</strong> {{ shiftData.total_shift_money }}</p>
        <p><strong>نقداً:</strong> {{ shiftData.total_money_cash }}</p>
        <p><strong>عبر الشبكة:</strong> {{ shiftData.total_money_online }}</p>
        <p><strong>آجل العملاء:</strong> {{ shiftData.total_money_client }}</p>
      </div>
    </div>
  
    <!-- Shift Machines Details -->
    <div *ngIf="shiftData.shiftMachines && shiftData.shiftMachines.length > 0">
        <h6 class="text-primary mb-4 font-weight-bold">تفاصيل الطرمبات المستخدمة:</h6>
        <div class="row">
          <div *ngFor="let machine of shiftData.shiftMachines" class="col-12 col-md-4 mb-4">
            <div class="card shadow-lg border-light rounded">
              <div class="card-header bg-info text-white">
                <h6 class="card-title mb-0">الطرمبة رقم {{ machine.product_id }}</h6>
              </div>
              <div class="card-body">
                <div class="mb-2"><strong>  قيمة عداد الإغلاق:</strong> <span class="text-success">{{ machine.close_amount }}</span></div>
                <div class="mb-2"><strong>  قيمة عداد الفتح:</strong> <span class="text-warning">{{ machine.open_amount }}</span></div>
                <div class="mb-2"><strong>المنتج:</strong> <span class="text-muted">{{ machine.product.name }}</span></div>
                <div class="mb-2"><strong>إجمالي اللترات:</strong> <span class="text-primary">{{ machine.total_liters_amount }}</span></div>
                
                <div class="mt-3 text-center">
                  <strong>صورة الإغلاق:</strong><br>
                  <img [src]="machine.close_image" alt="Close Image" class="img-fluid rounded border" style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  
    <!-- Worker Details -->
    <div *ngIf="shiftData.worker" class="card bg-light mb-4">
      <div class="card-body">
        <h6 class="card-title text-primary">تفاصيل العامل:</h6>
        <p><strong>اسم العامل:</strong> {{ shiftData.worker.name }}</p>
        <p><strong>اسم المستخدم:</strong> {{ shiftData.worker.username }}</p>
        <p><strong>الدور:</strong> {{ shiftData.worker.role }}</p>
        <p><strong>تاريخ الإنشاء:</strong> {{ shiftData.worker.created_at | date: 'yyyy-MM-dd' }}</p>
      </div>
    </div>
  
    <!-- Supervisor Details (if available) -->
    <div *ngIf="shiftData.supervisor" class="card bg-light mb-4">
      <div class="card-body">
        <h6 class="card-title text-info">تفاصيل المشرف:</h6>
        <p><strong>اسم المشرف:</strong> {{ shiftData.supervisor.name }}</p>
        <p><strong>الدور:</strong> {{ shiftData.supervisor.role }}</p>
      </div>
    </div>
  
    <!-- Last Updated -->
    <p class="text-muted"><strong>تم آخر تحديث في:</strong> {{ shiftData.updated_at | date: 'yyyy-MM-dd HH:mm' }}</p>
    <h6 class="card-title text-primary"> صور الموازنه:</h6>
    <div *ngIf="shiftData.OnlineImages" class="card bg-light mb-4">
      <div class="card-body">
        <div class="row">
          <div *ngFor="let image of shiftData.OnlineImages" class="col-4 col-md-4 mb-4">
            <div class="card shadow-lg rounded">
              <div class="mt-3 text-center">
                <img [src]="image.image" alt="Close Image" class="img-fluid rounded" style="width:100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
    

      <a *ngIf="shiftData.status != 'approved'" class="btn btn-warning w-25 text-white me-5" (click)="approve()">
        الموافقة , ترحيل الوردية للمحاسب
      </a>

      <a class="btn btn-success w-25 text-white me-5" (click)="showInvoices()">
        عرض فواتير العملاء
              </a>
              
    </div>  




    <div *ngIf="showInvoice" class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
      <div class="table-responsive">
      <table class="table mt-3">
          <thead>
              <tr>
                  <th class="bg-light" scope="col">#</th>
                  <th class="bg-light" scope="col">التاريخ</th>
                  <th class="bg-light" scope="col">نوع الدفع</th>
                  <th class="bg-light" scope="col">الكمية بعد الضريبة</th>
                  <th class="bg-light" scope="col">الإجراءات</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let sale of filteredSales; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ sale.date }}</td>
                  <td>{{ getPaymentType(sale.type) }}</td>
                  <td>{{ sale.tax_amount }}</td>
                  <td>
                      <div class="d-flex justify-content-around align-items-center">
                          <a class="nav-link" [routerLink]="['/dashboard/showSalesInvoice', sale.id]">
                              <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                          </a>
                          <!-- <a class="nav-link" [routerLink]="['/dashboard/updateSalesInvoice', sale.id]">
                              <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                          </a>
                          <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteSale(sale.id)"></i> -->
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>
  </div>
  

  </div>
  

  