<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
      <h5>إدارة المنتجات</h5>
      <span class="text-muted">لوحة التحكم <i class="fa-solid fa-angle-right"></i> المنتجات</span>
  </div>
  <a class="nav-link" routerLink="/dashboard/addProduct">
      <i class="fa-solid fa-plus text-white iconPlus rounded"></i>
  </a>
</div>

<div class="vendortable rounded mt-4 shadow-sm p-4 bg-white">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="fw-bold">قائمة المنتجات</span>
          <input 
              class="form-control search w-25" 
              type="search" 
              placeholder="البحث بالاسم، السعر، أو الكمية" 
              [(ngModel)]="searchQuery" 
              (input)="onSearch()" 
              aria-label="Search"
          >
      </div>
  </div>

  <table class="table mt-3">
      <thead>
          <tr>
              <th class="bg-light" scope="col">#</th>
              <th class="bg-light" scope="col">الاسم</th>
              <th class="bg-light" scope="col">السعر</th>
              <th class="bg-light" scope="col">الكمية</th>
              <th class="bg-light" scope="col">الإجراءات</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of filteredProducts; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.amount }}</td>
              <td>
                  <div class="d-flex justify-content-around align-items-center">
                      <a class="nav-link" [routerLink]="['/dashboard/showProduct', product.id]">
                          <i class="fa-solid fa-eye btn1 bg-primary rounded"></i>
                      </a>
                      <a class="nav-link" [routerLink]="['/dashboard/updateProduct', product.id]">
                          <i class="fa-solid fa-pencil btn1 bg-success rounded"></i>
                      </a>
                      <i class="fa-solid fa-trash-can btn1 bg-danger rounded" (click)="deleteProduct(product.id)"></i>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
