
  <div class="container" id="invoice-details">
    <div class="table-title">اسم الشركة/...............</div>
    <div class="table-title"> س.ت/...................</div>
    <div class="table-title">إيضاحات قائمة الدخل العام <br>عن السنة المنتهية في ٣١ ديسمبر {{currentYear}}</div>
    <div class="mt-4">
    
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">1</th>
                <th class="w-75"> تكلفة المبيعات</th>
                <th class="currency w-50"> {{currentYear}}</th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts19">
            <td></td>
            <td>{{ account.account_name }}</td>
            <td  *ngIf="account.current_balance < 0" class="currency" style="color: red;">{{ account.current_balance * -1 }}</td>
            <td *ngIf="account.current_balance >= 0" class="currency">{{ account.current_balance  }}</td>

          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>

            <td style="color: red;" *ngIf="totalBalance19 < 0" class="currency" >{{ totalBalance19 * -1 | number: '1.2-2' }}</td>
            <td *ngIf="totalBalance19 >= 0" class="currency">{{ totalBalance19 | number: '1.2-2' }}</td>


            <!-- <td class="currency">{{ totalBalance19 | number: '1.2-2' }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="mt-4">
     
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">2</th>
                <th class="w-75"> التكاليف التشغيلية</th>
                <th class="currency"> {{currentYear}}</th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts20">
            <td></td>
            <td>{{ account.account_name }}</td>
            <td  *ngIf="account.current_balance < 0" class="currency" style="color: red;">{{ account.current_balance * -1 }}</td>
            <td *ngIf="account.current_balance >= 0" class="currency">{{ account.current_balance  }}</td>
          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <!-- <td class="currency">{{ totalBalance20 | number: '1.2-2' }}</td> -->

            <td style="color: red;" *ngIf="totalBalance20 < 0" class="currency" >{{ totalBalance20 * -1 | number: '1.2-2' }}</td>
            <td *ngIf="totalBalance20 >= 0" class="currency">{{ totalBalance20 | number: '1.2-2' }}</td>

          </tr>
        </tbody>
      </table>
    </div>

   
    <div class="mt-4">
    
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">3</th>
                <th  class="w-75"> مخصص الاهلاكات</th>
                <th class="currency">{{currentYear}} </th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts22">
            <td></td>
            <td>{{ account.account_name }}</td>
            <!-- <td class="currency">{{ account.current_balance }}</td> -->

            <td  *ngIf="account.current_balance < 0" class="currency" style="color: red;">{{ account.current_balance * -1 }}</td>
            <td *ngIf="account.current_balance >= 0" class="currency">{{ account.current_balance  }}</td>

          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <!-- <td class="currency">{{ totalBalance22 | number: '1.2-2' }}</td> -->
            <td style="color: red;" *ngIf="totalBalance22 < 0" class="currency" >{{ totalBalance22 * -1 | number: '1.2-2' }}</td>
            <td *ngIf="totalBalance22 >= 0" class="currency">{{ totalBalance22 | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

 
    <div class="mt-4">
   
      <table class="table table-bordered">
        <thead >
            <tr>
                <th class="text-info text-bold">4</th>
                <th class="w-75"> المصروفات العمومية والإدارية</th>
                <th class="currency">{{currentYear}} </th>
              </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="currency w-50">ريال سعودي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts23">
            <td></td>
            <td>{{ account.account_name }}</td>
            <!-- <td class="currency">{{ account.current_balance }}</td> -->
            <td  *ngIf="account.current_balance < 0" class="currency" style="color: red;">{{ account.current_balance * -1 }}</td>
            <td *ngIf="account.current_balance >= 0" class="currency">{{ account.current_balance  }}</td>
          </tr>
          <tr class="total-row">
            <td></td>
            <td>الإجمالي</td>
            <!-- <td class="currency">{{ totalBalance23 | number: '1.2-2' }}</td> -->

            <td style="color: red;" *ngIf="totalBalance23 < 0" class="currency" >{{ totalBalance23 * -1 | number: '1.2-2' }}</td>
            <td *ngIf="totalBalance23 >= 0" class="currency">{{ totalBalance23 | number: '1.2-2' }}</td>

          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  <div class="mt-4 text-center">
    <button (click)="exportToPDF()" class="btn btn-primary">Download as PDF</button>
  </div> 
  
